<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ezviz.ezopensdkcommon">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".configwifi.ManualConnectDeviceHotspotActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".configwifi.ManualInputDeviceHotspotInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".configwifi.AutoWifiPrepareStepOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".configwifi.AutoWifiNetConfigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".configwifi.AutoWifiResetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".configwifi.ManualChooseConfigWifiWayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".configwifi.ConfigWifiExecutingActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>