<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ezviz.ezopensdk">
    <!-- 以下是sdk所需权限 -->
    <!-- 基础功能所需权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 配网所需权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <!-- 对讲所需权限 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 视频通话权限所需 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 以上是sdk所需权限 -->

    <!-- 以下是demo所需权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 以上是demo所需权限 -->

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- App receives push messages."my_app_package.push.sdk.permission.EZVIZ_MESSAGE" -->
    <permission
        android:name="ezviz.ezopensdk.push.sdk.permission.EZVIZ_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ezviz.ezopensdk.push.sdk.permission.EZVIZ_MESSAGE" />

    <permission
        android:name="ezviz.ezopensdk.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ezviz.ezopensdk.permission.C2D_MESSAGE" /> <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" /> <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- videoTalk call -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.videogo.EzvizApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="false"
        android:icon="@mipmap/videogo_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning, LockedOrientationActivity">

        <activity
            android:name="com.videogo.ui.login.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/FullAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.videogo.main.EzvizWebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.videogo.ui.playback.EZPlayBackListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.videogo.ui.playback.EZAbroadCloudServiceExAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.videogo.ui.cameralist.EZCameraListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.videogo.ui.realplay.EZRealPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.videogo.ui.realplay.preview.MultiScreenPreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.videogo.ui.message.EZMessageImageActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.videogo.ui.message.EZMessageActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.videogo.ui.message.remoteplayback.EZRemotePlayBackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.videogo.ui.setting.EZDeviceSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.videogo.ui.setting.EZUpgradeDeviceActivity"
            android:label="@string/title_activity_ezupgrade_device" />
        <activity
            android:name="com.videogo.ui.setting.ModifyDeviceNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.videogo.ui.adddevice.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.videogo.ui.adddevice.SeriesNumSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.videogo.ui.adddevice.AutoWifiConnectingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.videogo.ui.adddevice.AddDeviceToAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.videogo.ui.adddevice.TouchApActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.videogo.ui.LanDevice.LanDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.videogo.ui.LanDevice.LanDevicePlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.videogo.ui.LanDevice.LanDeviceActivateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.videogo.ui.ddns.EZDDNSListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.videogo.ui.videotalk.SafetyHatTalkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.videogo.ui.videotalk.WatchVideoTalkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.videogo.ui.videotalk.MultiTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.videogo.ui.videotalk.MultiVideoTalkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.videogo.ui.videotalk.EZRtcTestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name="com.videogo.ui.videotalk.JoinRoomActivity" />
        <activity android:name="com.videogo.ui.videotalk.OrderRoomActivity" />
        <activity android:name="com.videogo.ui.others.streamctrl.RtpStreamPlayActivity" />

        <activity android:name="com.videogo.ui.others.MoreFeaturesEntranceActivity" />
        <activity android:name="com.videogo.ui.others.TestActivityForFullSdk" />
        <activity android:name="com.videogo.ui.others.streamctrl.OriginStreamControlActivity" />
        <activity android:name="com.videogo.ui.others.CollectDeviceInfoActivity" />
        <activity android:name="com.videogo.ui.videotalk.ConfluenceTestEntranceActivity" />
        <activity android:name="com.videogo.ui.others.EZP2pTestActivity" />

        <receiver android:name="com.videogo.ui.cameralist.EZCameraListActivity$NotificationReceiver" />

        <service
            android:name="com.videogo.ui.videotalk.EZVideoMeetingService"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection" />
    </application>

</manifest>